<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<footer>
  <div class="footer_content">
    <h3>Copyright &copy; Search Engine DSA</h3>
    <h5 class="margin_0">Author : Abhishek Kumar</h5>
    <h5 class="margin_0">Indian Institute of Technology Kharagpur</h5>
  </div>
  <div class="icon-bar">
    <a
      href="https://mail.google.com/mail/u/0/?fs=1&tf=cm&to=abhishek4318@gmail.com"
      class="email"
      ><i class="fa fa-envelope"></i
    ></a>
    <a href="https://www.facebook.com/profile.php?id=100006450366543" class="facebook"
      ><i class="fa fa-facebook"></i
    ></a>
    <a
      href="https://www.linkedin.com/in/abhishek-kumar-842368202/"
      class="linkedin"
      ><i class="fa fa-linkedin"></i
    ></a>
    <a href="https://github.com/abhishek4318/" class="github"
      ><i class="fa fa-github"></i
    ></a>
  </div>
</footer>
